<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>BisonNotes AI</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses location to tag your recordings with where they were made, helping you organize and remember the context of your audio notes.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to the microphone to record audio notes.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>WKApplication</key>
	<true/>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>Bison-Networking.BisonNotes-AI</string>
</dict>
</plist>
